{% assign publications = site.data.data.publications %}
{% if publications %}
<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ publications.title }}
  </h2>

  {% if publications.intro %}
  <div class="intro">
    {{ publications.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  <h4>Publications in international Journals:</h4>

  {% for publication in publications.journals %}
  <div class="item">
    <div class="publication-title"><a href="{{ publication.link }}" target="_blank"></a>{{ publication.title }}</a></div>
    <div class="publication-authors">{{ publication.authors }}</div>
    <div class="publication-conference">{{ publication.published_in }}</div>
  </div><!--//item-->
  {% endfor %}
  
  <h4>Peer-reviewed conference publications:</h4>

  {% for publication in publications.conferences %}
  <div class="item">
    <div class="publication-title"><a href="{{ publication.link }}" target="_blank">{{ publication.title }}</a></div>
    <div class="publication-authors">{{ publication.authors }}</div>
    <div class="publication-conference">{{ publication.published_in }}</div>
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
